<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body >

    <template id="iec61850">
        <transition name="fade">
            <div class="iec61850">
                <div  class="sidebars">
                    <h3>Конфигрутор сервера IEC61850:</h3>
                    <div class="iec61850_left">
                        <label>Хост: </label><input v-model="data.servers61850[actual.index].host">
                        <label>Порт: </label><input v-model="data.servers61850[actual.index].port">
                        <label>Remote AP ID: </label><input v-model="data.servers61850[actual.index].apTitleR">
                        <label>Remote AE Qualifier: </label><input v-model="data.servers61850[actual.index].aeQualifierR" >
                        <label>Remote P Selector: </label><input v-model="data.servers61850[actual.index].pSelectorR">
                        <label>Remote S Selector: </label><input v-model="data.servers61850[actual.index].sSelectorR">
                        <label>Remote T Selector: </label><input v-model="data.servers61850[actual.index].tSelectorR">
                        <label>Local AP ID: </label><input v-model="data.servers61850[actual.index].apTitleL">
                        <label>Local AE Qualifier: </label><input v-model="data.servers61850[actual.index].aeQualifierL">
                        <label>Local P Selector: </label><input v-model="data.servers61850[actual.index].pSelectorL">
                        <label>Local S Selector: </label><input v-model="data.servers61850[actual.index].sSelectorL">
                        <label>Local T Selector: </label><input v-model="data.servers61850[actual.index].tSelectorL">
                        <label>Authentication Enabled: </label><input type="checkbox" v-model="data.servers61850[actual.index].enabled">
                        <label>Authentication Password: </label><input v-model="data.servers61850[actual.index].password">
                        <div></div>
                        <div class="services">

                            <button class="button_services" title="Запуск/Остановка" v-on:click="startServer">
                                <img v-if="!start.run[actual.index]" src="image/icons8-play-32.png">
                                <img v-else src="image/icons8-stop-32.png">
                            </button>
                            <button class="button_services" title="Удалить" v-on:click="removeServer">
                                <img src="image/icons8-delete-32.png">
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div v-if="!start.run[actual.index]">
                            <button v-if="!actual.add_item61850[actual.index].show" class="button_config" v-on:click="add_show_new_item">
                                <img src="image/icons8-plus-math-16.png">
                            </button>
                            <input v-if="actual.add_item61850[actual.index].show" v-model="actual.add_item61850[actual.index].path" type="text"  onkeydown="this.style.width = ((this.value.length + 1)*7) + 'px';">
                            <select v-if="actual.add_item61850[actual.index].show" v-model="actual.add_item61850[actual.index].typeFC">
                                <option value="-1">NONE</option>
                                <option value="0">ST</option>
                                <option value="1">MX</option>
                                <option value="2">SP</option>
                                <option value="3">SV</option>
                                <option value="4">CF</option>
                                <option value="5">DC</option>
                                <option value="6">SG</option>
                                <option value="7">SE</option>
                                <option value="8">SR</option>
                                <option value="9">OR</option>
                                <option value="10">BL</option>
                                <option value="11">EX</option>
                                <option value="12">CO</option>
                                <option value="13">US</option>
                                <option value="14">MS</option>
                                <option value="15">RP</option>
                                <option value="16">BR</option>
                                <option value="17">LG</option>
                                <option value="99">ALL</option>
                            </select>
                            <select v-if="actual.add_item61850[actual.index].show" v-model="actual.add_item61850[actual.index].typeMMS">
                                <option value="0">MMS_ARRAY</option>
                                <option value="1">MMS_STRUCTURE</option>
                                <option value="2">MMS_BOOLEAN</option>
                                <option value="3">MMS_BIT_STRING</option>
                                <option value="4">MMS_INTEGER</option>
                                <option value="5">MMS_UNSIGNED</option>
                                <option value="6">MMS_FLOAT</option>
                                <option value="7">MMS_OCTET_STRING</option>
                                <option value="8">MMS_VISIBLE_STRING</option>
                                <option value="9">MMS_GENERALIZED_TIME</option>
                                <option value="10">MMS_BINARY_TIME</option>
                                <option value="11">MMS_BCD</option>
                                <option value="12">MMS_OBJ_ID</option>
                                <option value="13">MMS_STRING</option>
                                <option value="14">MMS_UTC_TIME</option>
                                <option value="15">MMS_DATA_ACCESS_ERROR</option>
                            </select>
                            <button v-if="actual.add_item61850[actual.index].show" class="button_config" v-on:click="add_new_item">
                                <img src="image/icons8-plus-math-16.png">
                            </button>
                        </div>
                    </div>
                    <div v-for="(item, index) in data.servers61850[actual.index].items61850">
                        <button v-if="!start.run[actual.index]"> edit</button>
                        {{item.path}} {{item.typeFC}} {{item.typeMMS}}
                    </div>
                </div>
                <div style="background-color: #9f9f9f; width: 100%; height: 100%;"></div>

                <div class="sidebars">
                    <h3>Конфигрутор ASDU:</h3>
                </div>
            </div>
        </transition>
    </template>

    <template id="headerLeft">
        <div class="header_left">
            <div class="sidebar">
                <div v-for="(server, index) in data.servers61850" >
                    <button class="button_server" v-bind:class="{button_selected: this.map.show.show61850[index], button_started: this.map.start.run[index]}" v-on:click="show_server61850(server, index)">
                        <div>
                            Хост:{{server.host}}<br>Порт:{{server.port}}
                        </div>
                    </button>
                </div>

                <div>
                    <button title="Добавить" class="button_add" v-on:click="add_server61850">
                        <img src="image/icons8-plus-32.png">
                    </button>
                </div>
            </div>
        </div>
    </template>


    <template id="iec60870">
        <transition name="fade">
            <div>
                <ht>Конфигруация сервера IEC60870:</ht>
                <div class="iec60870">
                    <label>Хост: </label><input v-model="data.host" v-on:input="changeHost()">
                    <label>Порт: </label><input v-model="data.port" v-on:input="changePort()">
                    <label>Ёмкость очереди ASDU:</label><input v-model="data.maxQueue" type="number" >
                    <label>Режим:</label><div></div>
                    <label>Количество подключений:</label><input v-model="data.maxConnection" type="number">
                    <!--<label>Шифрование:</label><input v-model="statusTls" type="checkbox">-->
                </div>
            </div>
        </transition>
    </template>

    <template id="headerRight">
        <div class="header_right">
            <mr1>
                Хост: {{data.host}}<br>Порт: {{data.port}}
            </mr1>
            <mr2>
                <button title="Редактировать" class="button_right" v-on:click="show_on">
                    <img src="image/icons8-edit-32.png">
                </button>
            </mr2>
        </div>
    </template>

    <div id="app">

        <div id="main">
            <div class="content">
                <app-iec60870 v-if="show60870"></app-iec60870>
                <app-iec61850 v-if="show61850" v-bind:show="show61850" v-on:showstatuschange="change_show61850"></app-iec61850>
            </div>
            <div class="menu_left">
                <app-header_left v-bind:show="show61850" v-on:showstatuschange="change_show61850"></app-header_left>
            </div>
            <div class="menu_right">
                <app-header_right  v-bind:show="show60870" v-on:showstatuschange="change_show60870"></app-header_right>
                <div class="content_right"></div>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>