<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body >

    <template id="iec61850">
        <transition name="fade">
            <div id="p_content" class="iec61850">
                <div  class="sidebars">
                    <div class="iec61850_left">
                        <h3>Конфигрутор соединения IEC61850:</h3>
                        <div class="services">
                            <button class="button_services" title="Запуск/Остановка" v-on:click="startServer">
                                <img v-if="!map.start.run[map.actual.index]" src="image/icons8-play-32.png">
                                <img v-else src="image/icons8-stop-32.png">
                            </button>
                            <button class="button_services" title="Удалить" v-on:click="removeServer">
                                <img src="image/icons8-delete-32.png">
                            </button>
                        </div>
                        <label>Хост: </label><input v-model="map.data.servers61850[map.actual.index].host">
                        <label>Порт: </label><input v-model="map.data.servers61850[map.actual.index].port">
                        <label>Remote AP ID: </label><input v-model="map.data.servers61850[map.actual.index].apTitleR">
                        <label>Remote AE Qualifier: </label><input v-model="map.data.servers61850[map.actual.index].aeQualifierR" >
                        <label>Remote P Selector: </label><input v-model="map.data.servers61850[map.actual.index].pSelectorR">
                        <label>Remote S Selector: </label><input v-model="map.data.servers61850[map.actual.index].sSelectorR">
                        <label>Remote T Selector: </label><input v-model="map.data.servers61850[map.actual.index].tSelectorR">
                        <label>Local AP ID: </label><input v-model="map.data.servers61850[map.actual.index].apTitleL">
                        <label>Local AE Qualifier: </label><input v-model="map.data.servers61850[map.actual.index].aeQualifierL">
                        <label>Local P Selector: </label><input v-model="map.data.servers61850[map.actual.index].pSelectorL">
                        <label>Local S Selector: </label><input v-model="map.data.servers61850[map.actual.index].sSelectorL">
                        <label>Local T Selector: </label><input v-model="map.data.servers61850[map.actual.index].tSelectorL">
                        <label>Authentication Enabled: </label><input type="checkbox" v-model="map.data.servers61850[map.actual.index].enabled">
                        <label>Authentication Password: </label><input v-model="map.data.servers61850[map.actual.index].password">
                    </div>
                    <hr>
                    <!--Список элементов мэк61850-->
                    <div v-show="TreeView[map.actual.index].show">
                        <div v-for="(itemLD, indexLD) in TreeView[map.actual.index].node" >
                            <div v-bind:class="{ld_open_item: itemLD.show, ld_close_item: !itemLD.show}" v-on:click="itemLD.show = !itemLD.show">{{itemLD.title}}</div>
                            <div v-show="itemLD.show" v-for="(itemLN, indexLN) in itemLD.node">
                                <div  v-bind:class="{ln_open_item: itemLN.show, ln_close_item: !itemLN.show}" v-on:click="itemLN.show = !itemLN.show">{{itemLN.title}}</div>
                                <div v-show="itemLN.show" v-for="(itemDO, indexDO) in itemLN.node">
                                    <div v-bind:class="{do_open_item: itemDO.show , do_close_item: !itemDO.show}" v-on:click="itemDO.show = !itemDO.show">{{itemDO.title}}</div>
                                    <div v-show="itemDO.show" v-for="(itemAttr, indexAttr) in itemDO.node">
                                        <div class="attr_item" v-on:click="itemAttr.show =!itemAttr.show" >
                                            <!--Отображение-->
                                            <div v-show="!itemAttr.edit">
                                                <div>{{itemAttr.attr.path}}
                                                    <button v-show="!map.start.run[map.actual.index]" class="button_menu" style="right: 7px; position: absolute;" v-on:click="if(!map.start.run[map.actual.index])itemAttr.edit = !itemAttr.edit;">
                                                        <img src="image/edit.png">
                                                    </button>
                                                </div>
                                                <div v-show="itemAttr.show">FC: {{itemAttr.attr.typeFC}}&nbsp;&nbsp;&nbsp;&nbsp; MMS: {{itemAttr.attr.typeMMS}}
                                                    <button v-show="!map.start.run[map.actual.index]" class="button_menu" style="right: 7px; position: absolute;" v-on:click="remove_item_iec61850(itemAttr, indexAttr, indexDO, indexLN, indexLD)">
                                                        <img src="image/remove.png">
                                                    </button>
                                                </div>
                                            </div>
                                            <!--Редактирование-->
                                            <div v-show="itemAttr.edit">
                                                <div v-show="!map.start.run[map.actual.index]">
                                                    <input v-model="itemAttr.attr.path" style="width: 100%; margin-top: -1px; margin-left: -1px;">
                                                    <button class="button_menu" style="right: 7px; position: absolute;" v-on:click="if(!map.start.run[map.actual.index])itemAttr.edit = !itemAttr.edit;">
                                                        <img src="image/edit.png">
                                                    </button>
                                                </div>
                                                <div>
                                                    <label>FC: </label>
                                                    <select v-model="itemAttr.attr.typeFC">
                                                        <option v-for="option in  map.options_iec61850.options_fc" v-bind:value="option.value">{{option.value}}</option>
                                                    </select>
                                                    <label style="padding-left: 30px">MMS: </label>
                                                    <select v-model="itemAttr.attr.typeMMS">
                                                        <option v-for="option in  map.options_iec61850.options_mms" v-bind:value="option.value">{{option.value}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Добавить новый элемент, если связь не установленна-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="attr_item" v-if="!map.start.run[map.actual.index]" style="padding-left: 0;">
                        <div>
                            <button class="button_menu" style="position: absolute;  margin-bottom: 0;">
                                <img v-if="!map.actual.add_item61850[map.actual.index].show" src="image/add.png" v-on:click="add_show_new_item">
                                <img v-else src="image/clear.png" v-on:click="close_mew_item" >
                            </button>
                            <div style="padding-left: 16px">
                                <input style="width: 100%; margin-top: -1px; margin-left: -1px;" v-show="map.actual.add_item61850[map.actual.index].show" v-model="map.actual.add_item61850[map.actual.index].path" style="width: 100%; margin-top: -1px; margin-left: -1px;">
                            </div>
                        </div>
                        <div style="padding-left: 16px" v-show="map.actual.add_item61850[map.actual.index].show">
                            <label>FC: </label>
                            <select v-model="map.actual.add_item61850[map.actual.index].typeFC">
                                <option v-for="option in  map.options_iec61850.options_fc" v-bind:value="option.value">{{option.value}}</option>
                            </select>
                            <label style="padding-left: 30px">MMS: </label>
                            <select v-model="map.actual.add_item61850[map.actual.index].typeMMS">
                                <option v-for="option in  map.options_iec61850.options_mms" v-bind:value="option.value">{{option.value}}</option>
                            </select>
                            <button class="button_menu" style="right: 7px; position: absolute;  margin-bottom: 0;" v-show="map.actual.add_item61850[map.actual.index].show" v-on:click="add_new_item(
                                map.actual.add_item61850[map.actual.index].path,
                                map.actual.add_item61850[map.actual.index].typeFC,
                                map.actual.add_item61850[map.actual.index].typeMMS,
                                map.actual.index)">
                                <img src="image/ok.png">
                            </button>
                        </div>
                    </div>
                </div>
                <!--Разделитель-->
                <!--style="background-color: #9f9f9f; width: 1px; height: 100%;"-->
                <div style="height: 100%; padding-left: 2px;">
                    <button id="left_button" style="width: 6px; height: 100%; border: 1px; padding: 0; visibility: visible; " v-on:click="change_content(map.actual.index); show_content('left_button');"></button>
                </div>
                <!--ASDU-->
                <div class="sidebars">
                    <h3>Конфигрутор ASDU:</h3>
                    <!--Отображение всех ASDU c выбором и добавлением-->
                    <div style="padding: 3px">
                        <div class="pagination">
                            <button class="pagination_left">
                                <img src="image/left_32.png">
                            </button>
                            <div v-for="(itemASDU, indexASDU) in map.data.servers61850[map.actual.index].itemsASDU">
                                <button  class="button" v-on:click="change_current(indexASDU, map.actual.index)">{{indexASDU + 1}}</button>
                            </div>
                            <button class="pagination_right">
                                <img src="image/right_32.png">
                            </button>
                        </div>
                        <button class="button" v-on:click="add_asdu(map.actual.index)">
                            <span class="tooltiptext">Добавить ASDU</span>
                            <img src="image/add_32.png">
                        </button>
                        <hr>
                        <!--Отображение выбронного ASDU c редактирвованием-->
                        <div class="asdu" v-if="ShowASDU[map.actual.index].show">
                            <table class="table_cell">
                                <tr>
                                    <td class="td_cell" style="width: 35%">
                                        <label>Type ID:</label>
                                    </td>
                                    <td class="td_cell" style="width: 25%">
                                        <input style="width: 100%" type="number" min="0" max="127" value="0" v-model="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].typeID"  v-on:change="showObj = cot_filter(map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].typeID)">
                                    </td>
                                    <td class="td_cell" style="width: 40%">
                                        <label  v-model="value = show_text(map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].typeID, map.options_iec60870.options_typeID)">{{value.strEN}}</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table_cell">
                                <tr>
                                    <td class="td_cell" style="width: 35%">
                                        <label>Structure Qualifier:</label>
                                    </td>
                                    <td class="td_cell" style="width: 25%">
                                        <input style="width: 100%" type="checkbox" value="false" v-model="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].sq">
                                    </td>
                                    <td class="td_cell" style="width: 40%">
                                        <label>{{map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].sq ? 'Одиночный объект' : 'Последовательность объектов'}}</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table_cell">
                                <tr>
                                    <td class="td_cell" style="width: 35%">
                                        <label>Causes of transmissions:</label>
                                    </td>
                                    <td class="td_cell" style="width: 25%">
                                        <select style="width: 100%" type="submit" min="0" max="63" value="0" v-model="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].cot">
                                            <option v-for="option in TempASDU_COT">{{option.value}}</option>
                                        </select>
                                    </td>
                                    <td class="td_cell" style="width: 40%">
                                        <label  v-model="value = show_text(map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].cot, map.options_iec60870.options_cot)">{{value.strEN}}</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table_cell">
                                <tr>
                                    <td class="td_cell" style="width: 35%">
                                        <label>Verification:</label>
                                    </td>
                                    <td class="td_cell" style="width: 25%">
                                        <input style="width: 100%" type="checkbox" value="false" v-model="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].isNegative" >
                                    </td>
                                    <td class="td_cell" style="width: 40%">
                                        <label>{{map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].isNegative ? 'Отрицательное' : 'Положительное'}}</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table_cell">
                                <tr>
                                    <td class="td_cell" style="width: 35%">
                                        <label>Test:</label>
                                    </td>
                                    <td class="td_cell" style="width: 25%">
                                        <input style="width: 100%" type="checkbox" value="false" v-model="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].isTest" >
                                    </td>
                                    <td class="td_cell" style="width: 40%">
                                        <label>{{map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].isTest ? 'True' : 'False'}}</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table_cell">
                                <tr>
                                    <td class="td_cell" style="width: 35%">
                                        <label>Initiator address:</label>
                                    </td>
                                    <td class="td_cell" style="width: 25%">
                                        <input style="width: 100%" type="number" min="0" max="255" value="0" v-model="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].oa" >
                                    </td>
                                    <td class="td_cell" style="width: 40%"></td>
                                </tr>
                            </table>
                            <table class="table_cell">
                                <tr>
                                    <td class="td_cell" style="width: 35%">
                                        <label>Common address:</label>
                                    </td>
                                    <td class="td_cell" style="width: 25%">
                                        <input style="width: 100%" type="number" min="0" max="65535" value="0" v-model="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].ca" >
                                    </td>
                                    <td class="td_cell" style="width: 40%">
                                    </td>
                                </tr>
                            </table>
                            <table class="table_cell">
                                <tr>
                                    <td class="td_cell" style="width: 35%">
                                        <label>Quantity:</label>
                                    </td>
                                    <td class="td_cell" style="width: 25%">
                                        <label v-model="quantity = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].length">{{quantity }}</label>
                                    </td>
                                    <td class="td_cell" style="width: 40%">
                                        <button class="button" v-on:click="remove_ASDU()">
                                            <span class="tooltiptext">Удалить ASDU</span>
                                            <label>rem</label>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <div >
                                <button class="button" v-show="showObj" v-on:click="add_obj_asdu(map.actual.index)">
                                    <span class="tooltiptext">Добавить объекты или элементы в ASDU</span>
                                    <label>add</label>
                                </button>

                            </div>
                            <div>
                                <!--Объекты-->
                                <div v-show="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].objectsInf.typeID === map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].typeID" v-for="(obj, indexObj) in map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].objects" style="margin: 2px; padding: 2px;  border: 1px solid rgba(0, 0, 0, 0.1); ">

                                    <table class="table_cell">
                                        <tr>
                                            <td class="td_cell" style="width: 20%">
                                                <label>Адрес: </label>
                                            </td>
                                            <td class="td_cell" style="width: 70%">
                                                <input style="width: 100%" v-model="obj.addrObj" type="number" min="0" max="16777215">
                                            </td>
                                            <td class="td_cell" style="width: 1px0%"></td>
                                        </tr>
                                    </table>
                                    <table v-for="(elem, indexElem) in obj.attributeObj" class="table_cell">
                                        <tr v-for="(item, indexItem) in elem">
                                            <td class="td_cell" style="width: 20%">
                                                <label>{{item.typeElement}}: </label>
                                            </td>
                                            <td class="td_cell" style="width: 70%">
                                                <input style="width: 100%" v-model="item.attributeElement">
                                            </td>
                                            <td class="td_cell" style="width: 10%">
                                                <button v-if="indexItem === elem.length - 1" v-on:click="remove_infObj(indexObj, indexElem)">rem</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--Проверка на соответсвтие типу-->
                                <div v-show="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].objectsInf.typeID !== map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].typeID">
                                    <label v-show="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].length > 0">В ASDU содержаться оюъекты типа {{map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].objectsInf.typeID}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Разделитель-->
                <!--style="background-color: #9f9f9f; width: 1px; height: 100%;"-->
                <div style="height: 100%; padding-left: 2px;">
                    <button id="right_button" style="width: 6px; height: 100%; padding: 0; border: 1px;  visibility: hidden;" v-on:click="change_content(); show_content('right_button');"></button>
                </div>
                <div class="sidebars">
                    <!--Отображение ASDU-->
                    <table v-if="ShowASDU[map.actual.index].show">
                        <tr><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th><th>0</th><th>Описание</th></tr>
                        <tr>
                            <td class="td_content" colspan="8" v-model="content_typeID = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].typeID">{{content_typeID}}</td>
                            <td class="td_comment" v-model="value_typeID = show_text(map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].typeID, map.options_iec60870.options_typeID)">B[0-7]: {{value_typeID.strRU}}.</td>
                        </tr>
                        <tr>
                            <div class="td_content">
                                <td v-model="content_sq = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].sq">{{content_sq ? 1 : 0}}</td>
                                <td colspan="7" v-model="content_length = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].length">{{content_length}}</td>
                            </div>
                            <td class="td_comment">B[7]: {{content_sq ? 'Набор элементов в объекте' : 'Последовательность объектов'}}.<br>B[0-6]: Количество:&nbsp{{content_length}}.</td>
                        </tr>
                        <tr>
                            <div class="td_content">
                                <td v-model="content_test = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].isTest">{{content_test ? 1 : 0}}</td>
                                <td v-model="content_negative = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].isNegative">{{content_negative ? 1 : 0}}</td>
                                <td colspan="6" v-model="content_cot = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].cot">{{content_cot}}</td>
                            </div>
                            <td class="td_comment" v-model="value_cot = show_text(map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].cot, map.options_iec60870.options_cot)">B[7]: {{content_test ? 'Тест' : 'Не тест'}}.<br>B[6]: {{content_negative ? 'Отрицательное подтверждение' : 'Положительное подтверждение'}}.<br>B[0-5]: {{value_cot.strRU}}.</td>
                        </tr>
                        <tr>
                            <div class="td_content">
                                <td colspan="8" style="background: rgba(0,0,0,0.025)" v-model="content_oa = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].oa">{{content_oa}}</td>
                            </div>
                            <td class="td_comment">B[0-7]: Адрес инициатора: {{content_oa}}</td>
                        </tr>
                        <tr>
                            <div class="td_content">
                                <td colspan="8" v-model="content_ca = map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].ca">{{content_ca}}</td>
                            </div>
                            <td class="td_comment">B[0-15]: Общий адрес: {{content_ca}}</td>
                        </tr>
                        <!--Объекты-->
                        <tr v-if="!map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].sq" v-for="itemASDU in map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].objects">
                            <div class="td_content">
                                <td colspan="8">
                                    <div>Адрес: {{itemASDU.addrObj}}</div>
                                    <div v-for="itemElem in itemASDU.attributeObj">
                                        <div v-for="item in itemElem">{{item.typeElement}}: {{item.attributeElement}}</div>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        <!--Элементы-->
                        <tr v-if="map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].sq"  v-for="itemASDU in map.data.servers61850[map.actual.index].itemsASDU[ShowASDU[map.actual.index].current].objects">
                            <div class="td_content">
                                <td colspan="8">
                                    <div>Адрес: {{itemASDU.addrObj}}</div>
                                    <div v-for="itemElem in itemASDU.attributeObj">
                                        <div v-for="item in itemElem">{{item.typeElement}}: {{item.attributeElement}}</div>
                                    </div>
                                </td>
                            </div>
                        </tr>
                    </table>
                </div>
        </transition>
    </template>

    <template id="headerLeft">
        <div class="header_left">
            <div class="sidebar">
                <div v-for="(server, index) in map.data.servers61850" >
                    <button class="button_server" v-bind:class="{button_selected: this.map.show.show61850[index], button_started: this.map.start.run[index]}" v-on:click="show_server61850(server, index)">
                        <div>
                            Хост:{{server.host}}<br>Порт:{{server.port}}
                        </div>
                    </button>
                </div>
                <div>
                    <button title="Добавить" class="button_add" v-on:click="add_server61850">
                        <img src="image/icons8-plus-32.png">
                    </button>
                </div>
            </div>
        </div>
    </template>


    <template id="iec60870">
        <transition name="fade">
            <div>
                <ht>Конфигруация сервера IEC60870:</ht>
                <div class="iec60870">
                    <label>Хост: </label><input v-model="data.host" v-on:input="changeHost()">
                    <label>Порт: </label><input v-model="data.port" v-on:input="changePort()">
                    <label>Ёмкость очереди ASDU:</label><input v-model="data.maxQueue" type="number" >
                    <label>Режим:</label><div></div>
                    <label>Количество подключений:</label><input v-model="data.maxConnection" type="number">
                    <!--<label>Шифрование:</label><input v-model="statusTls" type="checkbox">-->
                </div>
            </div>
        </transition>
    </template>

    <template id="headerRight">
        <div class="header_right">
            <mr1>
                Хост: {{data.host}}<br>Порт: {{data.port}}
            </mr1>
            <mr2>
                <button class="button" v-on:click="show_on()">
                    <span class="tooltiptext">Редактировать</span>
                    <img src="image/icons8-edit-32.png">
                </button>
            </mr2>
        </div>
    </template>

    <div id="app">
        <div id="main">
            <div class="content">
                <app-iec60870 v-if="show60870"></app-iec60870>
                <app-iec61850 v-if="show61850" v-bind:show="show61850" v-on:showstatuschange="change_show61850"></app-iec61850>
            </div>
            <div class="menu_left">
                <app-header_left v-bind:show="show61850" v-on:showstatuschange="change_show61850"></app-header_left>
            </div>
            <div class="menu_right">
                <app-header_right  v-bind:show="show60870" v-on:showstatuschange="change_show60870"></app-header_right>
                <div class="content_right"></div>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>